call plug#begin('~/.vim/plugged')
Plug 'blueshirts/darcula'
call plug#end()

"" Show line numbers.
set number
set relativenumber

set encoding=utf-8
set colorcolumn=80
syntax on
set tabstop=4
set shiftwidth=4
filetype plugin indent on